<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Tripsite.mapper.CountryMapper">
	<resultMap type="country" id="country">
		<id column="NCODE" property="nCode"/>
		<result column="NNAME" property="nName"/>
		<result column="NCUR" property="nCur"/>
		<result column="AIR" property="air"/>
		<result column="NCITY1" property="nCity1"/>
		<result column="NCITY2" property="nCity2" />
		<result column="NCITY3" property="nCity3" />
	</resultMap>

	
	
	
</mapper>






