<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Tripsite.mapper.MemberMapper">
	<resultMap id="member" type="member">
		<id column="member_id" property="mId" />
		<result column="member_passwd" property="mPass" />
		<result column="member_nick" property="mNick" />
		<result column="member_tel" property="mTel" />
		<result column="member_email" property="mEmail" />
		<result column="member_birth" property="mBirth" />
		<result column="member_gender" property="mGender" />
		<result column="member_name" property="mName" />
	</resultMap>
	<select id="login" resultMap="member" parameterType="hashmap"> 
		select * from member where member_id like #{mId} and member_passwd like #{mPass}
	</select>
	
	<select id="selectMember" parameterType="string" resultMap="member">
		select * from member where member_id like #{mId}
	</select>

	<update id="updateMember" parameterType="member">
		update member set 
		member_passwd = #{mPass},
		member_nick = #{mNick},
		member_tel = #{mTel}, 
		member_email = #{mEmail},
		member_birth = #{mBirth},
		member_gender = #{mGender},
		member_name = #{mName}
		where member_id like #{mId}	 		
	</update>
	
	<delete id="deleteMember" parameterType="string">
	DELETE FROM member WHERE member_id = #{mId}	
	</delete>
	
	<insert id="insertMember" parameterType="member">
		insert into member
		values (#{mId},#{mPass},#{mNick},#{mTel},#{mEmail},#{mBirth},#{mGender},#{mName})
	</insert>
		<select id="find" resultMap="member" parameterType="hashmap">
		select * from member where member_id like #{mId} and member_name like #{mName}
	</select> 
	

	
</mapper>